@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

#backend-list {
    & > div {
        padding: 1rem;
        border: 1px solid $list-group-border-color;
        border-radius: $border-radius;
        margin-bottom: $form-group-margin-bottom;
    }

    .badge {
        padding: 2px 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: bold;
    }
}